services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: memorial
      POSTGRES_USER: memorial
      POSTGRES_PASSWORD: memorial
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
  web:
    build: .
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - media_data:/app/media
      - static_data:/app/staticfiles
    depends_on:
      - db

volumes:
  postgres_data:
  media_data:
  static_data:
